*{
    box-sizing: border-box;
    clear: both;
    padding: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    width: 100%;
    height: 70px;
    border-bottom: 2px solid black;
}
.title{
    text-align: center;
    line-height: 70px;
    margin: 0px;
    background-color: rgb(215, 215, 215);
}
body{
    padding: 50px 80px;
    font-family:  sans-serif;
}
.main{
    display: flex;
    justify-content: space-between;
}
.container1,.container2{
    width: 650px;
    height: 400px;
    background-color: rgb(217, 217, 217);
    vertical-align: middle;
    border-radius: 7px;
}
.container1{
    margin-right: 40px;
}

.text{
    width: 100%;
    height: 45px;
    border: 2px solid rgb(207, 206, 206);
    border-radius: 7px;
    font-size: 16px;
}
.text::placeholder{
    font-size: 16px;
}
.text:focus{
    border: 5px solid rgba(0, 145, 255, 0.36);
    outline: none;
}
h3{
    font-size: 20px;
    margin-bottom: 10px;
}
.add{
    width: 100px;
    height: 40px;
    color: rgb(37, 165, 37);
    font-size: 18px;
    background-color: white;
    border: 2px solid rgb(37, 165, 37);
    border-radius: 7px;
    margin-top: 10px;
}
.add:hover{
    background-color: rgb(37, 165, 37);
    color: white;
}
.table-title{
    font-size: 20px;
    font-weight: bold;
}
.title-hr{
    width: 100%;
    height: 2px;
    background-color: black;
    margin: 0px;
}
.title-tr{
    width: 100%;
    height: 60px;
}
.first{
    width: 40px;
}
.second{
    width: 90px;
}
.third{
    width: 130px;
}
.fourth{
    width: 170px;
}
.fivth{
    width: 100px;
}
.sixth{
    width: 100px;
}
.edit{
    width: 60px;
    height: 40px;
    background-color: rgb(254, 185, 57);
    font-size: 15px;
    border: none;
    border-radius: 7px;
}
.delete{
    width: 100px;
    height: 40px;
    background-color: red;
    color: aliceblue;
    font-size: 15px;
    border-radius: 7px;
    border: none;
}
.none{
    display: none;
}
.navigate-block{
    width: 100%;
    height: 60px;
    border: 1px solid rgb(170, 170, 170);
    border-left: none;
    border-right: none;
    display: flex;
    padding-left: 200px;
    text-align: center;
    font-size: 20px;
    color: rgb(22, 149, 254);
    font-weight: bold;
    line-height: 50px;
}
.navItem{
    width: 100px;
    height: 50px;
    margin: 11px 0px;
    border-top: 1px solid white;
    cursor: pointer;
    &:hover{
        border: 1.5px solid rgb(170, 170, 170);
        border-bottom: 2px solid white;
        border-radius: 7px 7px 0px 0px;
    }
}
.homeNav{
    width: 250px;
    margin-left: 50%;
    color: burlywood;
}
.work{
    color: rgb(13, 159, 13);
    border: 1.5px solid rgb(170, 170, 170);
    border-bottom: 2px solid white;
    border-radius: 7px 7px 0px 0px;
}