<header>
    <h1 class="title">Angular list of previous task</h1>
</header>
<main>
    <div class="box">
        <div class="img1 img"></div>
        <h3>Angular list of prohibited words</h3>
        <div class="details-block">
            <input type="button" value="details" class="details" [routerLink]="[ '/works/cenzor' ]" routerLinkActive="active">
        </div>
    </div>
    <div class="box">
        <div class="img2 img"></div>
        <h3>Angular task list</h3>
        <div class="details-block">
            <input type="button" value="details" class="details" [routerLink]="[ '/works/tasklist' ]" routerLinkActive="active">
        </div>
    </div>
    <div class="box">
        <div class="img3 img"></div>
        <h3>Angular user list</h3>
        <div class="details-block">
            <input type="button" value="details" class="details" [routerLink]="[ '/works/userslist' ]" routerLinkActive="active">
        </div>
    </div>
</main>
